html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#messages{
    display: flex;
    flex-direction: row;
    width: 78%;
    height:calc(100dvh - 8vh);
}

.contacts{
    width:30%;
    /* border:2px solid black; */
}
.contacts h1{
    padding:0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    height:10%;
}
.contacts div{
    padding: 1rem;
    border-bottom: 2px solid black;
    font-size: 1rem;
}
.contacts div:hover{
    cursor: pointer;
    font-size: 1.1rem;
    /* padding: 1.1rem; */
    background: #f1f1f1;
}
.chat{
    width:70%;
    border-left:2px solid black;
    
}
.chat div{
    width:100%;
}


.reciverInfo{
    padding:0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    height:10%;
}
.reciverInfo h3:hover{
    cursor: pointer;
}

/* messages section  */
.chatbox{
    height: 80%;
    border-bottom: 2px solid black;
    overflow-y: auto;
}
.chatbox div{
    border-radius: .5rem;
    margin: 1rem;
    overflow-y: auto;
    white-space: normal; 
    overflow-wrap: break-word;
     overflow-x: hidden;
     width:45%;
     max-height: 12rem;
     padding: .7rem 0;
     background: #F1F1F1;
}

.chatbox div h4{
    padding:0 .7rem;
    font-weight: 500;
    border-bottom: 1px solid black;
}
.chatbox div p{
    padding:0 .7rem;
}
.chatbox .sentMessage{
    margin-left: auto;
}
.chatbox .recivedMessage{
    margin-right: auto;
}
.chatbox .spinner{
    width: 3rem;
}
/* message input box and send button  */
.textbox{
    height: 10%;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: .7rem 0rem;
}
.textbox button{
    width: 20%;
    margin: 0 1rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: .4rem;
}
.textbox button:hover{
    cursor: pointer;
}

.textbox input{
    width: 80%;
    padding: 5px;
    border: none;
    outline: none;
    background: #f7f9fc9a;
    border-bottom: 2px solid grey;
    font-size: 1rem;
    margin: 0 1rem;
}
.textbox input:focus{
    
    border-bottom: 2px solid black;
}

@media only screen and (max-width:400px){
    .contacts{
       width: 100% !important;
    }
    .chat{
        width: 100% !important;
    }
}